[2017-01-06 01:23] TomPeters opened #4 "Dispose never called during partial enumeration"
Consider the following:

[code]

The output of this is:
[code]

Compare this to the non-async equivalent:
[code]

In this case, the output is
[code]

So in the async version, dispose is not guaranteed to be called, while it is in the sync version.

[2017-01-06 01:33] tyrotoxin commented on #4
Thanks @TomPeters, I'll take a look at that.

[2017-01-06 22:31] tyrotoxin commented on #4
@TomPeters, thanks for contributing!
Fix is available in v1.2.3 and is already on nuget.org.

[2017-01-06 22:31] #4 closed

[2017-01-06 22:54] TomPeters commented on #4
No problem, thanks for the quick response 👍

[2017-01-31 02:18] Telavian opened #6 "Enumerate an AsyncEnumerable with some degree of parallelism"
I first want to mention that you library is great. I think something like this should have been part of the framework, because it makes perfect sense with the shift to async/await.

As an enumerable things are working great. The only thing I have noticed is that enumerating the entire sequence can take a long time because of one async call after another.

Would it be possible to prefetch a call fo

[2017-01-31 02:35] tyrotoxin commented on #6
Thanks! I submitted a [feature request](https://visualstudio.uservoice.com/forums/121579-visual-studio-ide/suggestions/12338136-add-async-foreach-to-c-and-iasyncenumerator-to-n) to Microsoft long time ago - hope they'll pay attention to it one day.

What version of AsyncEnumerator do you use? I did huge performance improvement in the version 1.3.0, and now it works about 5 times faster compared to

[2017-01-31 02:39] Telavian commented on #6
I am using the latest version on nuget as of today.

The main thing is I am essentially flattening about 1000 calls into one
async IEnumerable steam using your library. It is certainly as fast as the
underlying async calls there is no doubt.
However if you have X async calls and each take Y ms then the total time
will be X*Y ms.

With prefetch this would be faster.

On Mon, Jan 30, 2017 at 6:35 PM

[2017-01-31 02:45] tyrotoxin commented on #6
It would be helpful if you provide a sample code. Do you use `ForEachAsync` or `ParallelForEachAsync`?

[2017-01-31 02:51] Telavian commented on #6
No. Maybe those would be helpful.

I essentially just want to perform multiple concatenation of async calls. It seems the AsyncEnumerable class can perform this.

I have an extension method I use as follows:

[code]

Usage of this is very simple:

[code]

[2017-01-31 03:04] tyrotoxin commented on #6
That makes sense too me. Calling an `async` method (or any method that returns a `Task`) does not guarantee that it's executed on a separate thread - it can finish synchronously. The `AsyncEnumerable` merely helps to efficiently use threads from the thread pool by not blocking them.

If you want to optimize the time of one routine, you should use the `ParallelForEach`.

[2017-01-31 03:05] Telavian commented on #6
That is correct. I will look into ParallelForEach.
Thanks.

[2017-01-31 03:18] tyrotoxin commented on #6
Let me know if find any severe performance issues.

[2017-01-31 03:18] #6 closed

[2017-02-03 21:58] TomPeters opened #7 "IAsyncEnumerable should not implement IEnumerable"
I have a suggestion about the API based on an issue I have encountered using this library.

In reference to the following two interfaces:
`public interface IAsyncEnumerable : IEnumerable`
`public interface IAsyncEnumerable<T> : IEnumerable<T>, IAsyncEnumerable`

Currently they implement `IEnumerable` and `IEnumerable<T>`. I don't think they should.

With the current implementation, it is easy to p

[2017-02-10 05:50] tyrotoxin commented on #7
I understand the struggle with putting obnoxious `ConfigureAwait(false)`, but this is the only right solution to make ASP.NET or WPF happy. The `AsyncEnumerable` internally always does `Task.ConfigureAwait(false).GetAwaiter().Result` on synchronous enumeration to avoid dead-locks on `SynchronizationContext`, but this will work properly only if async enumeration function (that is passed into the co

[2017-02-10 06:26] TomPeters commented on #7
While I certainly get that putting `ConfigureAwait(false)` in the `AsyncEnumerable` enumerable library is a good idea, it is not the only right solution for people writing ASP.NET or WPF apps - the other solution is to use async all the way. If someone were to adopt that strategy, they might correctly omit the `ConfigureAwait(false)`s that you demonstrated in your example. And in this case, accide

[2017-02-10 21:00] tyrotoxin commented on #7
You are absolutely right. That affects only the task continuation: to use or not to use the `SynchronizationContext` for scheduling.

[2017-02-13 01:13] tyrotoxin commented on #7
@TomPeters, this is a good suggestion, because thread blocking is just harmful and defeats the purpose of this library.
Now you need to explicitly do `IAsyncEnumerable.ToEnumerable()` for conversion.
The change is available in [version 2.0.0](https://www.nuget.org/packages/AsyncEnumerator/2.0.0).

[2017-02-13 01:14] #7 closed

[2017-02-13 02:21] TomPeters commented on #7
Looks good, thanks!

[2017-02-13 02:29] TomPeters opened #8 "AggregateException throw during synchronous enumeration"
In 1.4.2, this would throw an `Exception`:

[code]

While in 2.0.0, this throws an `AggregateException`:

[code]

I believe it is because calls to `Task.ConfigureAwait(false).GetAwaiter().GetResult()` were replaced with `.Result`. It would be better to replace it with `Task.GetAwaiter().GetResult()`, because then it would not wrap exceptions in `AggregateException`s

[2017-02-13 17:04] tyrotoxin commented on #8
Man, stop misusing the library! :)
The fix is in v2.0.1

[2017-02-13 17:04] #8 closed

[2017-02-21 05:04] ClockGet opened #9 "On the performance of Yield.SetCanceled function"
My English is not great, so I try to briefly describe my question.
I saw your source code, When I use the _IAsyncEnumerableExtensions.Take_ function to returns a specified number of contiguous elements, I noticed that in Yield class _ReturnAsync_ return a TaskCompletionSource object called _resumeEnumerationTcs, when AsyncEnumeratorWithState disposed, it will set yield Canceled, which triggered _r

[2017-02-21 18:07] tyrotoxin commented on #9
OK, it's not clear what's going, so here is some info first:
1. The `_resumeEnumerationTcs` is set to Canceled state by design. Please see section "4: Clean-up on incomplete enumeration" in the [readme file](https://github.com/tyrotoxin/AsyncEnumerable#implementation-details) for more info.
2. `TrySetCanceled` won't change anything. The `SetCanceled` method internally calls `TrySetCanceled`, check

[2017-02-22 02:26] ClockGet commented on #9
Thank you for your reply, I saw the readme file, it solves some of my doubts, and:
1. I focus on how the excuting time of the same operation is as short as possible, so I think the execution time with using TrySetException may become longer.
2. My programming is not as good as my English, so I wrote some simple code like:
[code]
Through these codes, I though it might be more efficient to use TrySe

[2017-02-22 18:58] tyrotoxin commented on #9
Well, thanks for the code, but I think you miss the crucial understanding about how async-await works, so the code tests nothing but speed of task execution using TPL.
And how is it related to this library?

[2017-02-23 02:01] ClockGet commented on #9
I just use the code to test speed of task execution, and test that `TrySetException` would cost more time than `TrySetCanceled`, and proved that in this library when `ReturnAsync`  return a task with a exception would cost more time, maybe I misunderstood async-await, TPL and your library, thanks again for your reply!

[2017-02-23 18:13] tyrotoxin commented on #9
Yes, it's slower indeed. But if difference in ~2500 nanoseconds per iteration really matters for your application, you should not use neither `IAsyncEnumerable` nor `IEnumerable` :) That difference is negligible compared to heavy IO awaiting, which is the main target for this library.

[2017-02-23 18:13] #9 closed

[2017-05-05 16:38] BrainSlugs83 opened #10 "Enumerators are not automatically Enumerated during WebAPI serialization."
Consider the following WebAPI code:

[code]

When the URL is called from a browser you get:
[code]

Using the equivalent IAsyncEnumerable code does not work the same:
[code]
When the URL is called from a browser you get:
[code]

[2017-05-05 16:39] BrainSlugs83 commented on #10
On a side note -- would it be easier if we could convert it to an IQueryable? -- (i.e. you could implement the OData REST queries as async, etc.)

[2017-05-06 01:54] TomPeters opened #11 "Async disposal (Feature Request)"
While creation of the enumerator (`GetAsyncEnumeratorAsync`) and moving next (`MoveNextAsync`) are asynchronous, disposal of the enumerator is currently synchronous and cannot be done in an asynchronous way.

Given that the you are likely to be doing asynchronous operations if you are using this library in the first place, it is likely that you could have some asynchronous cleanup after you finish

[2017-05-08 01:30] TomPeters opened #12 "Unexpected behaviour after disposing"
Consider the following example

    var enumerable = new AsyncEnumerable<int>(async yield =>
        {
            await yield.ReturnAsync(1);
            await yield.ReturnAsync(2);
            await yield.ReturnAsync(3);
        });
    var enumerator = await enumerable.GetAsyncEnumeratorAsync();
    await enumerator.MoveNextAsync();
    enumerator.Dispose();
    await enumerator.MoveNextAsync()

[2017-05-08 23:02] tyrotoxin commented on #10
Hi @BrainSlugs83, unfortunately this is an expected behavior, because WebAPI (or any other consumer of `IAsyncEnumerable`) does not really know that there is a collection behind this object, so the JSON serializer just tries to pull fields from the `AsyncEnumerable` object.

The problem with `IQueryable` is that it does not support any asynchronous enumeration, that's why there projects like [Rx/L

[2017-05-08 23:02] #10 closed

[2017-05-22 03:13] tyrotoxin commented on #12
This is fixed in version 2.1.0

[2017-05-22 03:13] #12 closed

[2017-05-22 03:38] tyrotoxin commented on #11
I agree, sometimes such async disposal is needed indeed. Personally, I found that problem in `CryptoStream` and `DeflateStream`, which write a final portion of data on `Dispose` only, which is always synchronous.
However, I'm hesitant to add such property to the interface at this point. You have a workaround like this (not ideal, but works):
[code]

[2017-05-22 03:57] TomPeters commented on #11
Is this because it seems to pollute an otherwise simple API? Or is there another reason? The nice thing about adding an extra property to `IAsyncEnumerator` is that it won't break any existing code, so it is a relatively 'safe' thing to add.

[2017-07-31 20:52] Andrew-Hanlon opened #13 "Task-Like AsyncEnumerable"
Hi there, I just came across your library yesterday, and it seems great! I thought you might be interested in an experiment I put together recently to create a [task-like AsyncEnumerable](https://github.com/Andrew-Hanlon/AsyncEnumerator) using C# 7's new features. I believe there could be some real synergy in our approaches. Please reach out if interested, as I would be very keen to discuss async

[2017-08-05 15:40] tyrotoxin commented on #13
Hi @Andrew-Hanlon, that can be interesting, but I'm hesitant to add more features, because they promised to deliver language-integrated async enumeration in C# 8. Maybe we should just wait :)

[2017-08-05 15:52] tyrotoxin commented on #13
I apologize, but I'm currently working on a much more exciting project, so I will not have any additional free time available to invest into advanced features of async enumeration, but you are welcome to use pieces of this library in your project or contribute back if needed.

[2017-08-05 15:52] #13 closed

[2017-08-07 13:35] Andrew-Hanlon commented on #13
Hey Serge, not to worry at all. Look forward to reading about the new exciting project. I'll post here if I follow up with any additional async sequence work. Cheers.

[2017-08-07 14:18] tyrotoxin commented on #13
Sounds good, thanks

[2017-08-09 15:34] kabua opened #14 "System is a reserved namespace"
We would love to use this library but we can't since it is currently in the System namespace.

According to the C# standards (defined by [ECMA Standards 334](http://www.ecma-international.org/publications/files/ECMA-ST/Ecma-334.pdf) ) in section 16.2 (page 252) it states:

```Fully qualified names beginning with System. are reserved for use by the Standard Library (§Annex D). ```

Therefore, to be

[2017-08-19 06:17] kfehribach opened #15 "Documentation Fix - Example three, named arguments"
In example three because there is a named argument all subsequent arguments must be named arguments, therefore cancellationToken: should be used.

[2017-09-28 19:57] stil commented on #14
I'm also voting for a change to non-System namespace. Additionally, I get an error

For example `List<T>` is from `System.Collections.Generic`, so it causes overlap and I need to use full qualified name either for `List<T>` or `IAsyncEnumerator<T>`.

Can we get a yes or no whether this issue could be solved?

[2017-10-17 17:32] sallgeud opened #17 "Parallel Loop State (feature request)"
Current Parallel.ForEach passes a loop state to any method calls. This can be valuable as any break may necessitate immediate stoppage of the loop, which can be done by calling loopstate.Stop().

[2017-11-30 00:13] FacetiousProgrammer opened #19 "Typo in ParallelForEachAsync Parameter: maxDegreeOfParalellism"
In AsyncEnumerable/src/Extensions/ParallelForEachExtensions.cs, the parameter name on some of the overloads is "maxDegreeOfParalellism" and should instead be spelled "maxDegreeOfParallelism".

[2017-12-14 20:42] Ttxman opened #20 "Memory leak"
Some "OnEnumerationComplete" tasks are not  cleaned up when AsyncEnumerable is not Enumerated to the end.

I have run 4 iterations of code below and let it run for another 100 seconds:
![aeleak](https://user-images.githubusercontent.com/2779184/34012098-c06ebcfa-e112-11e7-9b3a-a012515dd279.png)

Each iteration will add one "Sheduled" task + 20 objects that are stuck on heap.
![aemem](https://user-

[2017-12-16 22:52] MNF opened #21 "Clarify differences between ForEachAsyncExtensions and ParallelForEachExtensions"
The thread https://stackoverflow.com/questions/11564506/nesting-await-in-parallel-foreach/11565531#11565531 has an answer suggested to use  Task.WhenAll to run multiple (degreeOfParallel)  asynchronous tasks in parallel, not waiting until previous task is completed.

[code]

Your library has a few [ForEachAsyncExtensions](https://github.com/tyrotoxin/AsyncEnumerable/blob/master/src/Extensions/ForE

[2018-01-17 23:10] tyrotoxin commented on #20
@Ttxman, the first problem I see is that the async enumerator never gets disposed after calling `GetAsyncEnumeratorAsync`. Then, while debugging, the framework has internal static collection of all incomplete tasks in the process. Two things combined most likely result in the memory leak and won't reproduce when you run the code without debugger attached to the process.
Thanks, I'm aware of the `N

[2018-01-17 23:16] tyrotoxin commented on #19
That's a bad typo, agree, but that most likely will be changed with the next major release - otherwise simple parameter name change can be breaking when multiple assemblies in a solution use different versions of the same library.

[2018-01-17 23:27] tyrotoxin commented on #14
That makes sense, even if it reduces usability. That will be done with the next major release, because this is a breaking change.

[2018-01-20 19:04] tyrotoxin commented on #15
This is improved

[2018-01-20 19:04] #15 closed

[2018-01-20 19:09] tyrotoxin commented on #21
Hi, I added [more info to the Readme - see pt.9](https://github.com/tyrotoxin/AsyncEnumerable#implementation-details) to describe the difference. The MS version of Parallel.ForEach does not work with async-enumerable collections and async delegates, what leads to thread-blocking calls if you try to use it - that's what this library solves, avoids such blocking IO calls with `IAsyncEnumerable` and

[2018-01-20 19:09] #21 closed

[2018-01-20 19:13] tyrotoxin commented on #20
I'm closing this issue as per comment above. We've been using this library in production for more over than a year in a cloud environment with very heavy loads that rely on `AsyncEnumerator`, and have never seen any memory leaks problems related to it.

[2018-01-20 19:13] #20 closed

[2018-01-20 19:31] tyrotoxin commented on #17
I would challenge you with such feature request and ask to think about using `CancellationToken` which is the recommended thing to use with asynchronous operations. Here is an example:
[code]

[2018-05-17 20:10] julian-goldsmith opened #23 "SelectMany (feature request)"
I'm currently working on some code that runs batches of requests, and returns an IAsyncEnumerable.  It would be helpful to have a SelectMany extension method, so that I don't have to flatten batches manually.

[2018-05-17 20:19] tyrotoxin commented on #23
@julian-goldsmith, that's a good suggestion. Let me know if you need other LINQ extension methods, so i can add them at the same time.

[2018-05-18 02:25] tyrotoxin commented on #23
@julian-goldsmith, yeah, NUnit extension still does not work properly for .NET core for some reason. Had to upgrade NuGet packages to the latest version to make .NET Framework tests work at least.
Going to add few more extension methods, and do another release.

[2018-05-18 05:18] tyrotoxin commented on #23
@julian-goldsmith, I added the following extension methods with their overloads:
- SelectMany
- Append
- Prepend
- OfType
- Concat
- Distinct
- ToDictionaryAsync
- ToLookupAsync
- AggregateAsync

The new [NuGet package v2.2.0](https://www.nuget.org/packages/AsyncEnumerator/2.2.0) has been published.

[2018-05-18 13:50] julian-goldsmith commented on #23
Excellent, thank you tyrotoxin.  I use most of those functions quite frequently, so that should help me quite a lot.

[2018-05-18 14:23] julian-goldsmith opened #25 "Creating an IAsyncEnumerable from a Task (feature request)"
It might be useful to add an IAsyncEnumerable constructor that takes a `Task<IEnumerable<T>>`, and possibly `Task<IAsyncEnumerable<T>>`.  That would make it so that you don't have to mix `async` and `IAsyncEnumerable` if you have `async` code that gets your `IEnumerable`.

A (currently-untested) example of what I mean would be something like:
[code]

That could probably be implemented much better

[2018-05-18 15:00] #25 closed, assigned to nobody

[2018-05-18 16:45] tyrotoxin commented on #25
I think you can simplify the problem, where don't actually need that feature, and where you don't need `SelectMany` at all. I would just hide batching in such way:
[code]

[2018-05-18 17:12] julian-goldsmith commented on #25
Thanks, @tyrotoxin.  I had been trying to use `ToAsyncEnumerable` and `SelectMany` to try to simplify my code, but it seems like it had the opposite effect.  I like your approach better.

[2018-08-15 22:28] ndrwrbgs opened #26 "What does 'unofficial predecessor version' mean"
I presume this is because C#8 is planning to incorporate Async Streams. What do you see as the future of this library? Are the .NET team looking at this library for examples (e.g. authoring an enumerable is much easier here than in the System.Interactive namespace), do you expect this library to live alongside the BCL libraries, or do you expect them to supersede this and it to sunset when the Asy

[2018-08-16 15:50] tyrotoxin commented on #26
hi @ndrwrbgs, this library was created before C# team announced a built-in language support for async enumerators in version 8.0 of the language (also known as 'Async Streams'). Then, the idea of this library was simply enable async enumerators in a similar way as you do regular enumerators. There is no connection between C# language team and this library (they might have looked at it, but honestl

[2018-08-16 18:11] ndrwrbgs commented on #26
Thanks for the history! It sounds like when they finally finish up all of that stuff we should work to integrate into it as best as we can. Would making it so this library exposes `System.Collections.Generic.IAsyncEnumerable` from `System.Interactive.Async` make sense, providing translation functionality, or waiting until C#8 finalizes (and decides if they use that interface or another).

[2018-08-17 06:13] #26 closed

[2018-08-17 17:07] ndrwrbgs opened #27 "AsyncEnumerable interface can return completed Task"
https://github.com/Dasync/AsyncEnumerable/blob/539aae51ad88aa2c6ab6316804a28a4518486a9d/src/AsyncEnumerable.cs#L82

Minor difference - but possibly relevant as I try to wrap the `IAsyncEnumerator<T>` to the ones exposed in `System.Interactive`. The line above is `async` and `await`s the `Task` rather than just returning the `Task` returned to it from the `IAsyncEnumerator<T>` interface implementat

[2018-09-14 08:30] otabekgb opened #28 "FEATURE: IOrderedAsyncEnumerable implementation"
Do you have a plan for this?

[2018-09-15 01:58] tyrotoxin commented on #28
what does it supposed to do?

[2018-09-16 13:33] otabekgb commented on #28
With it you can order the sequence. Sync version is IOrderedEnumerable

[2018-09-16 19:36] tyrotoxin commented on #28
An `IAsyncEnumerable` should be used for streaming, not sure how `IOrderedEnumerable` can be applicable here - the source collection should not be stored in memory.
Do you have any specific use case?

[2018-09-16 20:51] ndrwrbgs commented on #28
@tyrotoxin It's possible in a streaming context - similar to `IQbservable` - where it is really the remote that is doing the sorting and it's just a signal to the consumer that it IS sorted, but no code in a library would ever be making a `OrderedAsyncEnumerable` directly.

That said, I'm not sure what scenario this would enable that couldn't be accomplished by the calling code just assuming that

[2018-09-26 01:03] tyrotoxin commented on #28
@otabekgb, I'm closing the suggestion due to lack of the input. Feel free to open if you have a concrete scenario.

[2018-09-26 01:03] #28 closed

[2018-11-24 14:55] thelemontree10 opened #29 "Provide example for reading file from stream"
Dear Dasync,

Would you mind providing example for reading a big file (for example, excel file 200MB from hard driver in pc), returning a stream ?

My idea is to divide the file into each batch, so that we can read async multiple.

I see your documentation but don't know how to apply.

Thank you.

Best Regards,

[2019-01-14 23:24] Deni35 opened #30 "yield.Break() leads to TaskCanceledException"
Look at next code:

        var e = GetItems().GetAsyncEnumeratorAsync().Result;
        e.MoveNextAsync().Wait();
        e.MoveNextAsync().Wait(); // this line throws: TaskCanceledException: A task was canceled.

        private static IAsyncEnumerable<int> GetItems() {
            return new AsyncEnumerable<int>( GetItems );
        }

        private static async Task GetItems(AsyncEnumerator<

[2019-01-14 23:50] Deni35 opened #31 "Why does IEnumerable<Task<T>>.ToAsyncEnumerable() not return IAsyncEnumerable<T> ?"
I think it is expected that ToAsyncEnumerable() will return `IAsyncEnumerable<T>`. But it returns `IEnumerable<Task<T>>`.

        // Examples
        GetDataTasks().ToAsyncEnumerable().ForEachAsync( data => { // expected and desired behavior
                Console.WriteLine( data );
        } );

        GetDataTasks().ToAsyncEnumerable().ForEachAsync( async i => { // actual behavior

[2019-01-16 18:05] Deni35 commented on #30
IAsyncEnumerable.ForEachAsync( ... ).Wait() also leads to exception. And it's real problem.

[2019-01-27 20:48] tyrotoxin commented on #30
@Deni35, yes, it's a bug indeed. The problem has been fixed and the new version 2.2.2 is available here:
https://www.nuget.org/packages/AsyncEnumerator/2.2.2

[2019-01-27 20:48] #30 closed

[2019-01-27 20:54] tyrotoxin commented on #31
@Deni35, this is the expected behavior.
The extension method `ToAsyncEnumerable` is designed to convert an `IEnumerable<T>` to an `IAsyncEnumerable<T>`. In your case the generic argument `T` is `Task<int>`.

[2019-01-27 20:54] #31 closed

[2019-01-29 16:15] tyrotoxin commented on #27
@ndrwrbgs, thanks for looking into the source code.

The aforementioned line
https://github.com/Dasync/AsyncEnumerable/blob/539aae51ad88aa2c6ab6316804a28a4518486a9d/src/AsyncEnumerable.cs#L82
cannot simply cast `Task<IAsyncEnumerator<T>>` to `Task<IAsyncEnumerator>` because there is no covariant `ITask<out T>` interface - that's why it uses `async-await`.

As for the second case, yes, I agree that

[2019-01-29 16:15] #27 closed

[2019-02-02 19:46] zivkan opened #32 "proposal: throw exception if Yield.ReturnAsync called before it's ready"
A user of your library posted [this question on stack overflow](https://stackoverflow.com/questions/54402544/c-sharp-asyncenumerable-running-awaiting-multiple-tasks-never-finishes).

Basically, they're using `AsyncEnumerable<T>.ForEachAsync`, but rather than producing items serially, they tried to produce concurrently by creating multiple concurrent generator tasks within the delegate that's passe

[2019-02-24 22:47] tyrotoxin commented on #19
@FacetiousProgrammer, this issue has been fixed in the latest version 3 of this library:
https://www.nuget.org/packages/AsyncEnumerator/3.0.0-beta1

As of now, it's marked as 'beta' since .NET Core 3.0 is still in preview. Otherwise, it's a properly working release.

Please note that there are other breaking changes - the library now replicates Microsoft's version of `IAsyncEnumerable` and `IAsync

[2019-02-24 22:47] #19 closed

[2019-02-24 22:55] tyrotoxin commented on #11
@TomPeters, this issue has been addressed in the latest version 3 of this library:
https://www.nuget.org/packages/AsyncEnumerator/3.0.0-beta1
As of now, it's marked as 'beta' since .NET Core 3.0 is still in preview. Otherwise, it's a properly working release.

The new interface `IAsyncDisposable` has been introduced, and all extension methods (like `ForEachAsync` or `ParallelForEachAsync`) use it

[2019-02-24 22:55] #11 closed

[2019-03-03 21:20] JeffN825 opened #33 "Chaining async's"
Sorry if this is a question that's already been answered, but I'm trying to figure out if this library is applicable to a big of fairly simple code. Today I have (converted to a more verbose form for clarity)
[code]

Obviously this leaves a lot to be desired in terms of verbosity, especially since this kind of code is repeated dozens of times throughout my codebase.

Ideally, I'm looking for the m

[2019-03-07 10:38] Simba-Mupfunya opened #34 "ParallelForEachAsync not awaiting"
Hi shouldnt you define ParallelForEachAsync as async with await on Task.Run. By not doing this when i await ParallelForEachAsync it acutally continues to the next code block as the internal Task.Run is not awaited

`async public static Task ParallelForEachAsync<T>(
            this IAsyncEnumerable<T> collection,
            Func<T, long, Task> asyncItemAction,
            int maxDegreeOfParalelli

[2019-03-07 17:22] tyrotoxin commented on #34
@Simba-Mupfunya, can you clarify an issue you are experiencing?

[2019-03-08 09:13] Simba-Mupfunya commented on #34
@tyrotoxin After futher digging i see you are using SemaphoreSlim to wait for the Task in the current context, so thats not an issue. The problem i was having is being caused by my async delegate thats defined on SQLite RunInTransactionAsync(**async conn**) which houses the code for ParallelForEachAsync. By defining the delegate as async as it doesnt implement a Func< Task > it basically in short

[2019-03-08 09:13] #34 closed

[2019-04-04 14:01] MikeBeaton opened #35 "Add ForEachAsync break equivalent (Feature Request)"
Hi,

I am finding this library extremely useful!

I have found one part of the `yield return` / `foreach` pattern which I *believe* isn't catered for yet.

If you are using `foreach (var item of items)` then you can put `break;` inside the loop to end early.

A pattern which I've made up for doing the equivalent is:

[code]

I wonder if it would be possible to support something like this instead:

[2019-04-06 23:25] tyrotoxin commented on #35
@MikeBeaton, thanks, and I appreciate putting the PR together!
I think this quick-fix is good enough, however I left 1 conceptual comment on the PR.

[2019-04-06 23:32] tyrotoxin commented on #33
@JeffN825 , sorry for late reply as I was on my vacation.

This library definitely has `SelectAsync` and `ToDictionaryAsync`, however, those built-in extension methods don't take in async delegates - only synchronous methods.

The solution that is available out of the box may look like this:
[code]

Let me know if this helps.

[2019-04-09 02:34] tyrotoxin commented on #35
@MikeBeaton, thanks for the contribution. The change has been merged in, and new the version has been released: https://www.nuget.org/packages/AsyncEnumerator/3.0.2-beta

[2019-04-09 02:34] #35 closed

[2019-04-12 14:50] MikeBeaton commented on #35
@tyrotoxin Hi, I just noticed that 3.0.2-beta is not tagged in this github repo, but probably should be? Thanks again!

[2019-04-16 13:49] Misiu opened #37 "Support IProgress in ParallelForEachAsync"
Consider adding `IProgress` to `ParallelForEachAsync`
I'm currently using [this method](https://gist.github.com/0xced/94f6c50d620e582e19913742dbd76eb6), but I'd like to switch to Your library.

[2019-04-16 15:20] tyrotoxin commented on #35
@MikeBeaton , seems like you know how to support public repos better than me :) Thanks!

[2019-04-17 08:01] MikeBeaton commented on #35
(Don't forget I'm coming from the side of being the public, in this case! 😉 😊)

[2019-04-17 16:02] tyrotoxin commented on #37
Hi @Misiu , thanks for submitting the PR!
Give me a few days to review this - have important things to do this week.

[2019-04-17 20:19] Misiu commented on #37
@tyrotoxin no worries :)
Please consider merging the other PR, new csproj format would help a lot.

[2019-04-22 20:23] mj430 opened #39 "asp.net core web api"
Will this library work with a web api implemented in asp.net core ?

[2019-04-22 20:27] tyrotoxin commented on #39
absolutely

[2019-04-22 22:18] mj430 commented on #39
if i use your below sample code  then in postman  or chrome i see a blank resposne

   [HttpGet("api/testStream")]
        public async Task<System.Collections.Async.IAsyncEnumerable<int>> testStream()
           {
            return new AsyncEnumerable<int>(async yield =>
            {

                // Just to show that ReturnAsync can be used multiple times
                await yield.ReturnA

[2019-04-23 04:08] tyrotoxin commented on #39
This is definitely is not a supported scenario as the ASP.NET framework does not know that the `IAsyncEnumerable` represents a collection. Your best option is:
[code]

[2019-04-23 16:49] mj430 commented on #39
Thanks for the response. But if i do it as suggested by you. Then the web api will not return until  the call
return await collection.ToListAsync();.

So the client will not get the values as they are produced, they will get it when the whole list is made.

[2019-04-24 02:56] tyrotoxin commented on #39
That's correct, the only other workaround, is to convert an `IAsyncEnumerable` to `IEnumerable`, what defeats the whole purpose. This feature most likely will be supported natively by ASP NET Core when C# 8.0 and .NET Core 3.0 are released.

[2019-05-10 05:26] ndani14-zap opened #40 "Should MoveNextAsync/ReturnAsync be checking if the CancellationToken has been cancelled?"
I came across this behavior while writing some unit tests around some code that deals with batched data and I found it surprising. Just wondering what your take on it is?

Linqpad sample
[code]

Linqpad Output
`0
1
2
3
4
5
6
7
8
9`

Linqpad Output I would have expected
`0
1
2
3
-- A task was canceled.
`

The same thing happens when manually enumerating. I would have expected `MoveNextAsync` to be

[2019-05-16 22:35] mausch opened #42 "Aggregate with async accumulator"
I have this variant of Aggregate defined in one of my projects, using an async accumulator:

[code]

I noticed that the current Aggregate methods here don't have this overload, do you think it's worth adding it? If so, its implementation should probably be optimised etc.

[2019-05-16 22:37] mausch opened #43 "Property-based testing"
Have you considered using FsCheck or Hedgehog for testing this project? Property-based testing is ideal for finding bugs in this kind of projects.

[2019-05-17 14:36] tyrotoxin commented on #43
hi @mausch, I'm not familiar with those tools. Can you give an example of how they would help with this project?

[2019-05-17 14:38] tyrotoxin commented on #42
yeah, why not. To my best memory, I added some core LINQ-style extension methods, but not all possible overloads.

[2019-05-17 14:47] tyrotoxin commented on #40
hi @ndani14-zap, by looking at the implementation, I see that I didn't add the check of a cancellation token to the for-each loop. To my best memory, I wanted to give an end-user the control of canceling the enumeration within the loop body itself to avoid any unexpected behavior.

The cancellation token is available through `yield.CancellationToken`. For example:
[code]
This also gives an ability

[2019-05-17 14:52] tyrotoxin commented on #39
@mj430, I'll have to close this issue as it goes beyond the scope of the current project. Perhaps it is possible to achieve the behavior that you want, but it should be a separate project that binds together ASP.NET Core MVC and AsyncEnumerable library.

[2019-05-17 14:52] #39 closed

[2019-05-17 15:00] tyrotoxin commented on #32
@zivkan, thanks for the suggestion. You are absolutely right about the sequential producer pattern. This might not be obvious to everyone, however, there are many more standard types that don't support concurrent programming model - take `Dictionary<,>` for example.

It is possible to add protection from parallel produce attempts, but it comes with a performance cost that would impact the majority

[2019-05-17 15:58] tyrotoxin commented on #32
P.S. I replied to the SO question as well:
https://stackoverflow.com/questions/54402544/c-sharp-asyncenumerable-running-awaiting-multiple-tasks-never-finishes/56189780#56189780
I've been thinking about adding a helper method for such scenarios with concurrent producers/consumers.

[2019-05-18 02:03] zivkan commented on #32
I completely understand the performance concern. I think a helper method sounds best, but docs are good too. But honestly, I don't use your library, I was just trying to help out after investigating an interesting Stack Overflow question :)

[2019-05-19 02:26] CodingNinjaOctocat commented on #33
[Bing Translate]
I also had problems with asynchronous streaming chains, I tangled for days, I wasn't familiar with Rx, so I gave up Rx. I've used AsyncEnumerable, but it doesn't seem to have a real yield.

If C#8 (IAsyncEnumerable) is officially launched, my Code should be simple:

[code]
The asynchronous flow process I want:
ReadItems:~~~~~~[a-b-c-d-e-f-g-h-i-j-k-l-m-n-o-p-q-r-s-t-u-v-w-x-y-z]
Q

[2019-05-19 05:20] ejlevin1 opened #44 "Source coming from multiple threads?"
Is the sourcing of the stream thread safe?  I.e. would the below situation cause any issues I'm unaware of.  I have a situation where I need to make a large amount of async requests that generate the async stream, and want to do the sourcing requests in parallel (unordered), and then push into the async stream.  Will that create any negative side effects I'm not seeing?
[code]

[2019-05-27 12:05] TechInterMezzo commented on #14
Are there any news on this topic or suggestions for the name clash mentioned by @stil ?
It's quite a pain that C# only supports alias for closed generic types in this situation.

[2019-05-28 14:49] tyrotoxin commented on #44
@ejlevin1, the `yield.Return` is not thread-safe, so the sample code certainly leads to an unpredicted behavior.

Having multiple producers and one (o multiple) consumers is a slightly more complex problem, which is discussed in issue #32.

I posted an example on StackOverflow how to implement it:
https://stackoverflow.com/questions/54402544/c-sharp-asyncenumerable-running-awaiting-multiple-tasks-

[2019-05-28 14:56] tyrotoxin commented on #14
@TechInterMezzo, the latest version of this library has been adapted for the .NET Core 3, which eliminates the name collision problem: https://www.nuget.org/packages/AsyncEnumerator/3.0.2-beta

The version 3.0.2-beta is completely stable, but marked as a pre-release since .NET Core 3 is not released yet. However, there are no changes to namespaces.

[2019-06-26 11:55] galmok opened #45 "yield.ReturnAsync inside ParallelForEachAsync"
We have trouble using ParallelForEachAsync to start a number of parallel running async webrequests (actually they are Azure Blob Storage retrievals) and have the result being returned using yield.ReturnAsync.

The problem is that before the first result is returned, multiple parallel webrequests have been started and also completed, yet only the last of the results are returned to the consumer (th

[2019-06-26 12:59] felipecruz91 commented on #45
I've exactly the same issue...

[2019-06-26 16:55] tyrotoxin commented on #45
Good try, but this is simply an unsupported scenario with concurrent producers.
Imagine a synchronous version of the producer side:
[code]
The `yield` keyword cannot be used inside the lambda function passed to the `Parallel.ForEach` method, because it is out of the scope of the synchronous enumerator method.

Since this library mimics a C# language feature, it cannot impose similar restrictions o

[2019-06-26 16:58] tyrotoxin commented on #45
P.S. this is a duplicate of #44

[2019-06-26 16:59] tyrotoxin commented on #43
@mausch, closing this as no info has been provided.

[2019-06-26 16:59] #43 closed

[2019-06-26 17:43] galmok commented on #45
How about using SemaphoreSlim to ensure only 1 active call to
yield.Returning is happening at anyone time?

I tried and it seems to work just fine. But I'll have a look at your links
later.

ons. 26. jun. 2019 18.59 skrev Serge Semenov <notifications@github.com>:

[2019-07-03 04:30] ndani14-zap commented on #40
The approach seems quite practical. It was just surprising. Thanks I'll close this issue :)

[2019-07-03 04:30] #40 closed

[2019-07-19 16:43] tyrotoxin commented on #45
The use of `SemaphoreSlim` will definitely solve the problem, however, that will impact the performance of enumerations in regular cases as every iteration has to consult a synchronization primitive. How would solve that problem?

[2019-08-29 19:31] Numpsy opened #46 ".NET Core 3 / .NET Standard 2.1"
Hi,

I see that the most recent version of the library has been adapted to use the built in IAsyncEnumerable in .NET Core 3, but can I ask what the situation is with .NET Standard 2.1? (from a quick test, looks like it uses its own definition there rather than the built in version?).

Thanks.

[2019-09-24 19:47] kind-serge commented on #46
@Numpsy, with the yesterday's official release of NET Core 3 and NET Standard 2.1 this library has been updated as well. Thanks for waiting!

[2019-09-24 19:47] #46 closed

[2019-09-24 19:49] kind-serge commented on #14
With the latest release of v3 all types have been moved to `Dasync.Collections` namespace.

[2019-09-24 19:49] #14 closed

[2019-10-09 21:24] silkfire commented on #46
@kind-serge Does an implementation of `ParallellForEachAsync` exist in .NET Core 3.0 or should we keep using your library?

[2019-10-09 21:28] kind-serge commented on #46
@silkfire to my best knowledge `ParallellForEachAsync` does not exist in the latest .NET BCL and I have no info on whether it will be added or not. Keep using this library for now.

[2019-10-16 22:44] Numpsy commented on #46
On a sort of related note - Microsoft have released a Microsoft.Bcl.AsyncInterfaces package that has definitions of IAsyncEnumerable and such for versions of .NET prior to Standard 2.1.

Any thoughts on using ParallellForEachAsync with those definitions?

[2019-10-18 21:23] kind-serge commented on #46
@Numpsy , thanks for the info! I was not aware of that package.
Apparently it works for .NET Standard 2.0 only and no lower versions.
It is an easy change, however will have to bump the major version of this library to accommodate these changes.

[2019-10-18 21:47] kind-serge commented on #46
@Numpsy , the new version has been released: https://www.nuget.org/packages/AsyncEnumerator/4.0.0

[2019-10-20 15:35] Numpsy commented on #46
Thanks, I'll give it a go.

[2019-10-21 20:59] Numpsy commented on #46
I tried it in a .Net Standard 2.0 library called from a .Net 4.7.2 application and hit some errors about missing methods, i'm guessing because the library is using the interface definitions from the Microsoft package, but the build for the app is pulling in the .Net 4.5 build of AsyncEnumerator that doesn't contain matching methods?
(The Microsoft.Bcl.AsyncInterfaces package does actually appear t

[2019-10-22 06:36] kind-serge commented on #46
Seems like a .NET Fx 4.6.1 (and higher) project uses the .NET Fx 4.5 version of the library instead of .NET Std 2.0. I updated the NuGet Package with the .NET Fx 4.6.1 version of this library to be compatible with .NET Std 2.0 projects: https://www.nuget.org/packages/AsyncEnumerator/4.0.1

[2019-10-22 14:21] Numpsy commented on #46
Thanks, that seems ok now.

[2019-12-04 08:32] danylofitel opened #49 "Take slow for large count value regardless of enumerable size"
Take() extension method is really slow when specifying large values of count (a billion or higher), even on empty enumerables. For example, the below code takes over 10 seconds to run:

`List<int> result = await Enumerable.Empty<int>().ToAsyncEnumerable().Take(1000000000).ToListAsync();`

Looking at source code (IAsyncEnumerableExtensions.cs), it seems that it's doing exactly count iterations with

[2019-12-04 18:01] kind-serge commented on #49
Good finding, @danylofitel ! And I'm glad that you've found this library useful :)
The changes look good and will publish the new version shortly.

[2019-12-04 18:37] kind-serge commented on #49
@danylofitel, the new [version 4.0.2](https://www.nuget.org/packages/AsyncEnumerator/4.0.2) has been published with your changes. Cheers!

[2019-12-04 18:37] #49 closed

[2019-12-04 18:47] ghost opened #51 "How to break on ParallelForEachAsync"
I want to control how the result returned false will exit the ParallelForEachAsync loop

[code]

[2019-12-04 18:56] kind-serge commented on #51
One thing you can do is to introduce a cancellation token:
[code]
Keep in mind that the immediate cancellation is not guaranteed due the concurrent nature of this extension method.

[2019-12-04 19:05] ghost opened #52 "Performance compared to using Task.WhenAll"
Is there any difference in performance between the ParallelForEachAsync extension method and the code snippet below

[code]

[2019-12-04 19:06] ghost commented on #37
I think this library will be more wonderful when supporting more IProgress object

[2019-12-05 04:23] danylofitel commented on #49
Thanks for publishing so quickly :) Cheers!

[2019-12-05 16:54] ghost commented on #51
### And how to use "continue" in switch/case:

[code]

[2019-12-05 17:56] kind-serge commented on #51
@mincadev, I believe that you asking C# programming questions which are not suitable in the "Issues" section of this project. StackOverflow would be a better resource to ask the community for help with an example of what you've tried so far.

[2019-12-05 17:56] #51 closed, assigned to nobody

[2019-12-05 17:56] kind-serge commented on #52
@mincadev, as previously mentioned, this question does not belong to the "Issues" section of this project.

[2019-12-05 17:56] #52 closed, assigned to nobody

[2020-03-13 07:32] liaowubinf opened #55 "Does not work on linux systems"
it works well on windows, but when delpoy it on linux,  it can't really  ‘await’!

[2020-04-19 09:35] janniksam opened #56 "Use the interfaces in a .NET Core 3.1 project"
So, I was looking for an IAsyncEnumerable alternative, that does work under .NET Standard 1.4 and found this library.

However, when I reference my consuming .NET Core 3.1 test, it gives me

or when I use IAsyncEnumerable

The error makes sense to me, because .NET Core 3.1 does support async streaming by default. Is there a way to use it in a .NET Core 3.1 test project anyways? (I would like to **

[2020-04-20 23:16] danylofitel opened #57 "Race condition in ParallelForEachAsync when exceptions are thrown"
ParallelForEachAsync sometimes does not throw an exception if individual iterations did throw exceptions.

It reproduces with the following code (derived from the scenario where I noticed it):

[code]

The cancellation token does not get canceled, and the default values of `breakLoopOnException: false` and `gracefulBreak: true` are used. The first task always throws an exception, therefore the exp

[2020-04-21 00:17] danylofitel commented on #57
Here's a PR with the proposed change to `ReadExceptions()`
https://github.com/Dasync/AsyncEnumerable/pull/58

[2020-05-02 23:17] FrenziedIM opened #59 "Change maxdegreeofparallelism during execution?"
I'm guessing this isn't possible, but by the slight chance it is, please let me know how to do it! I need to change the number of threads whilst the parallel loop is running.

My other option is using cancellation tokens, but they seem to be very slow. Is there not a fast way to just completely exit the parallelforeachasync? Might have to result to a application restart, but was wondering if someo

[2020-05-07 21:58] JuanIHernandez opened #60 "the type IAsyncEnumerable exists in both AsyncInterfaces and interactive.async"
i am working on a net core 2.1 application, download this package and an error started to popup,
the error says "The type 'IAsyncEnumerable<T>' exists in both 'Microsoft.Bcl.AsyncInterfaces and 'System.Interactive.Async"

and the Microsoft.Bcl.AsyncInterfaces  was introduced with this package

how do i fix this issue?

[2020-07-30 16:49] tsofronis opened #63 "asyncEnumerable.ParallelForEachAsync() natively in C# 8"
Hi,

In your README.md you guys give an example on how to go from asyncEnumerable.ForEachAsync() to native C#8.  I was wondering if is possible to get the behavior of ParallelForEachAsync() natively in C#8 as well.

Thank you

[2020-09-18 08:22] benmccallum opened #64 "Accidentally using Dasync's async methods on an EF DbSet blows up the world"
[code]

This will result in the booking sometimes being grabbed, but in most cases it seems like much more happens than you want, e.g. it crawls all the relations, consumes a tonne of memory and eventually crashes your app.

I'm not sure how we can really solve this other than an analyzer that detects usage on a `DbSet<T>` and says, "No, don't do this".

cc: @anthony-keller

[2020-09-18 16:31] mausch commented on #55
FWIW I've been using this project on Linux for a good couple of years easily I think... no problems here.

[2020-10-29 18:26] vdurante opened #65 "How does ParallelForEachAsync compares to TPL's ActionBlock?"
I have used this library for quite some time and just recently I met TPL's ActionBlock. I wanted to know if someone has any input on differences and such. Thanks!

[2021-01-19 09:13] Gordory opened #66 "Using of GetAwaiter().GetResult() from ValueTask<T> in EnumeratorAdapter"
Hi there!

For some reason I used `ToEnumerable()` extension to iterate `IAsyncEnumerable` synchronously.
And for sure I got the exception from [this line](https://github.com/Dasync/AsyncEnumerable/blob/master/src/Internals/EnumeratorAdapter.cs#L41) of code.

[Documentation](https://docs.microsoft.com/en-us/dotnet/api/system.threading.tasks.valuetask-1?view=netcore-3.0) tells us that this is not v

[2021-03-15 06:50] benmccallum commented on #64
This has happened to us again but was caught before deployment to prod just in time. It's unfortunately way to easy to accidentally include the DAsync.Collections using rather than the EF Core one and end up in a really bad place, i.e. your app using memory until it crashes.

We're considering just removing DAsync as we only use it for ParallelForEach with a limiter and will search for an equivale

[2021-03-17 20:27] uchinago opened #67 "Question on requirements for build server and ncrunch"
I have used this successfully in .net core web api.  works like a charm.
I am currently updating some older .net framework 4.7 WCF,  converting the class libraries to .net standard 2.0

Everything seems to work in Visual studio 2019.
The issue comes in with my build server and ncrunch.   I discovered  that I need to include Mircrosoft.Bcl.AsncInterfaces.
But it is still failing for the following e

[2021-03-19 15:28] benmccallum commented on #64
We've since written a unit test that scans source files for uses of the Dasync namespace and forces us to manually verify new uses.

Posting here for anyone who finds it useful. Credit to Anth for the idea and impl.

cc: @simoncropp, another fun use of Verify ;)

[code]

[2021-03-21 08:05] SimonCropp commented on #64
@benmccallum nice approach 👍

[2021-03-21 23:26] rocklan opened #68 "ConfigureAwait(false) in asp.net _core_ not needed"
Great library by the way! Super helpful! Thank you so much :)

Just a small thing BTW, Step 3 of the implementation documentation says:

Apaprently in asp.net core this is no longer needed:

https://blog.stephencleary.com/2017/03/aspnetcore-synchronization-context.html

It won't do any harm, but it might be useful to note that this is only necessary in aspnet framework or wpf apps.

[2021-06-04 02:07] Telavian commented on #65
I am interested also.

[2021-09-14 06:03] marvel16 commented on #57
@danylofitel hi! Do you know why this could be unaddressed issue? No one answered  on your PR, we have faced similar issue in production we couldn't understand why exception was not thrown, but in our case this occurred with 1 task that was throwing an exception. Is there any alternative package from Microsoft?

[2021-09-16 07:22] danylofitel commented on #57
@marvel16 it seems like the owner hasn't checked the repo for a while, previously he was super responsive and merged my PR within a day.

While waiting for a fix I'm using a wrapper in which I'm adding a try/catch around the async action and if an exception is thrown. Equivalent to:

[code]

The idea is that once this issue is resolved you won't need any code changes (except perhaps cleaning up na

[2022-04-21 08:12] DumboJetEngine opened #69 "Using ParallelForEachAsync() for non-CPU-intensive tasks"
I would like to use a parallel loop for `N` number of calls to a service, to execute them in batches, and avoid DoS-ing the service.
I had previously created my own version of the loop, using `Task.WhenAny()` and `Task.WhenAll()`, but then I needed that in multiple places and thought I should find myself a library for it (unfortunately, I don't use .NET 6 yet, so I don't have its features).

Looki

[2022-07-14 19:47] ghost opened #70 "ParallelForEachAsync hangs when I update Microsoft.Bcl.AsyncInterfaces from 1.0.0.0 to 5.0.0.0"
This code/app has been in place for years. Updated the Microsoft.Bcl.AsyncInterfaces from 1.0.0.0 to 5.0.0.0 and the app hangs in ParallelForEachAsync call.

`			var results = new ConcurrentBag<RowResult>();
			await plogs.ParallelForEachAsync(async plog =>
			{
				var response = await ProcessRow(plog.Item1, plog.Item2, fileUploadHistoryId, url, user, bankNo, companyNo, log);
				results.Add(resp